.main {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    min-height: 30rem;
    margin-top: 10rem;
    flex-grow: 1;
    padding: 1rem;
}

body {
    display: flex;
}

#main-textarea {
    background-color: #393939;
    color: white;
    resize: none;
    flex-grow: 1;
}

.btn {
    max-height: 5rem;
    flex-grow: 1;
}

.note-btn:hover {
    background-color: #66CC99;
}

.selected-btn {
    background-color: skyblue;
}

.manage-bar {
    display: flex;
    flex-direction: column;
}

.bar-left {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    flex-grow: 1;
}

.text-part {
    display: flex;
    flex-grow:10;
}